/* 
    Document   : vars
    Created on : 4-Feb-2014, 11:07:53 PM
    Author     : LESKY
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

